

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Priority</th>
      <th>Due date</th>
      <th>Is completed</th>
      <th>Task list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.priority %></td>
        <td><%= task.due_date %></td>
        <td><%= task.is_completed %></td>
        <td><%= task.task_list.name %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
